.logo {
    color: #0A1B32;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 48px;
    font-style: bold;
    word-wrap: break-word;
    margin-top: 37px;
    margin-left: 80px;
}
